
<head>
   
    <!--====== Required meta tags ======-->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!--====== Title ======-->
    <title>Furnish - Furniture and Decor Website Template</title>
    
    <!--====== Favicon Icon ======-->
    <link rel="shortcut icon" href="../assets/images/favicon.png" type="image/png">

    <!--====== Bootstrap css ======-->
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    
    <!--====== Animate css ======-->
    <link rel="stylesheet" href="../assets/css/animate.css">
    
    <!--====== Magnific Popup css ======-->
    <link rel="stylesheet" href="../assets/css/magnific-popup.css">
    
    <!--====== Slick css ======-->
    <link rel="stylesheet" href="../assets/css/slick.css">
    
    <!--====== Line Icons css ======-->
    <link rel="stylesheet" href="assets/css/LineIcons.css">
    
    <!--====== Default css ======-->
    <link rel="stylesheet" href="../assets/css/default.css">
    
    <!--====== Style css ======-->
    <link rel="stylesheet" href="../assets/css/style.css">
    
    <!--====== Responsive css ======-->
    <link rel="stylesheet" href="../assets/css/responsive.css">
  
  
</head>
<body>
    <section id="product" class="product-area pt-100 pb-130">
        <div class="container">
            <div class="row">
                <div class="single-product-items">
                    <div class="product-item-image">
                        <a href="#"><img src="../assets/images/product/p-1.jpg" alt="Product"></a>
                        <div class="product-discount-tag">
                            <p><%= product.product_discount_tag %></p>
                        </div>
                    </div>
                    <div class="product-item-content text-center mt-30">
                        <h5 class="product-title"><a href="#"><%= product.title %></a></h5>
                        <ul class="rating">
                            <li><i class="lni-star-filled"></i></li>
                            <li><i class="lni-star-filled"></i></li>
                            <li><i class="lni-star-filled"></i></li>
                            <li><i class="lni-star-filled"></i></li>
                        </ul>
                        <span class="regular-price">$<%= product.regular_price %></span>
                        <span class="discount-price">$<%= product.discount_price %></span>
                    </div>
                </div>
            </div> 
            </div>          
        </div>
    </section>
</body>

